* {
    box-sizing: border-box;
}

body {
    font-family: "Snell Roundhand";
    padding: 10px;
}

.title {
    text-align:  center;
    font-size: 60px;
    font-weight: normal;
    margin-bottom: 0px;
    padding-bottom: 30px;
    border-bottom: black solid 3px;
}

.title:hover {
    color: #FF665A;
}

.content {
    width: 100%;
    display: flex;
    border-left: black solid 1px;
    border-bottom: black solid 3px;
}

.content .article{
    padding: 2%;
    border-right: black solid 1px; 
}

.quarter {
    flex: 1;
}

.half {
    flex: 2;
}

.three-quarter {
    flex: 3;
}

.whole {
    flex: 4;
}

.p-content {
    font-family: 'Uchen', serif;
    text-align: justify;
    line-height: 1.2;
}

.img-content {
    width: 100%;
}

.article.links {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    padding: 0px;
    margin: 0px;
    list-style: none;
}

/* flex: 1, 2 ou 3 faz com que o elemento pego o maximo de espaço possivel
quanto maior o numero maior o espaço do elemento */
.sections {
    display: flex;
    align-items: center;
    flex: 1;
    color: #ddd;
}

.sections.effect:hover {
    color: #0D0C0C;
    background-color: #FF665A;
}

/* Altera o estilo dos filhos de sections de acordo com a ordem */
.sections:nth-child(1) { background-color: #8C8C8C;}
.sections:nth-child(2) { background-color: #404040;}
.sections:nth-child(3) { background-color: #333333;}
.sections:nth-child(4) { background-color: #1C1C1C;}
.sections:nth-child(5) { background-color: #0D0C0C;}

.section-link {
    text-transform: capitalize;
    font-size: 30px;
    padding-left: 10px;
    font-weight: 900;
    font-family: "Futura";
    text-decoration: none;
    color: currentColor;    /* Mantem a cor anterior no caso a cor definida em*/
}


/* Estilo calculadora */

.calc-style {
    font-family: Arial, Helvetica, sans-serif;
}

.calc {
    display: flex;
    flex-direction: column;
    height: 480px;
    max-width: 360px;
    border: solid black 2px;
    border-radius: 5px;
}

.calc .struct-calc {
    display: flex;
    flex: 1;
    border-bottom: solid black 2px;
}

.calc .display-calc {
    flex: 1;
    text-align: end;
    justify-content: center;
    padding-right: 15px;
    border-bottom: solid black 2px;
    background-color: #121212;
    color: #ddd;
    font-size: 25px;
}

.key {
    font-size: 22px;
    font-weight: bold;
    border: none;
    border-right: solid black 2px;
    color: #121212;
}

.key:hover {
    background-color: #ddd;
}

.key:focus {
    box-shadow: inset 0 0 0.5em white;
}

.struct-calc:last-child {
    border-bottom: none;;
}

.key:last-child {
    border-right: none;
    background-color: #FF665A;
}

.key:last-child:focus {
    box-shadow: inset 0 0 0.5em #FF7C73;
}

.key:last-child:hover {
    background-color: #E65A50;
}

