* {
    box-sizing: border-box;
}

body {
    font-family: "Snell Roundhand";
    padding: 10px;
}

.title {
    text-align:  center;
    font-size: 60px;
    font-weight: normal;
    margin-bottom: 0px;
    padding-bottom: 30px;
    border-bottom: black solid 3px;
}

.title:hover {
    color: #FF665A;
}

.content {
    width: 100%;
    display: flex;
    border-left: black solid 1px;
    border-bottom: black solid 3px;
}

.content .article{
    padding: 2%;
    border-right: black solid 1px; 
}

.half {
    flex: 2;
}

.quarter {
    flex: 1;
}

.three-quarter {
    flex: 3;
}

.p-content {
    font-family: 'Uchen', serif;
    text-align: justify;
    line-height: 1.2;
}

.img-content {
    width: 100%;
}

.article.links {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    padding: 0px;
    margin: 0px;
    list-style: none;
}

/* flex: 1, 2 ou 3 faz com que o elemento pego o maximo de espaço possivel
quanto maior o numero maior o espaço do elemento */
.sections {
    display: flex;
    align-items: center;
    flex: 1;
    color: #ddd;
}

.sections.effect:hover {
    color: #0D0C0C;
    background-color: #FF665A;
}

/* Altera o estilo dos filhos de sections de acordo com a ordem */
.sections:nth-child(1) { background-color: #8C8C8C;}
.sections:nth-child(2) { background-color: #404040;}
.sections:nth-child(3) { background-color: #333333;}
.sections:nth-child(4) { background-color: #1C1C1C;}
.sections:nth-child(5) { background-color: #0D0C0C;}

.section-link {
    text-transform: capitalize;
    font-size: 30px;
    padding-left: 10px;
    font-weight: 900;
    font-family: "Futura";
    text-decoration: none;
    color: currentColor;    /* Mantem a cor anterior no caso a cor definida em*/
}

